			<style>
				.subpage-cont {
					height: 200px;
					overflow: hidden;
				}
				.subpage-cont img {
					width: 100%!important;
				}
				.subpage-cont table {
					width: 100%!important;
				}
				.subpage-cont a {
					padding: 0!important;
					width: 100%!important;
				}
				.widget-content>a {
					width: 100%!important;
					padding-left: 0!important;
				}
			</style>
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					子页面编辑			
				</h1>
				
				
				<% for(var i=0;i<subpages.length;i++) { %>
				<div class="row">
					
					<a class="span9" href="/subpage_ueditor?page=<%= subpages[i].title %>">
				
						<div class="widget">
									
							<div class="widget-content">
								
								<h3><%= subpages[i].title %></h3>
								
								<div class="subpage-cont"><%- subpages[i].content %></div>
								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</a> <!-- /span9 -->
					
				</div> <!-- /row -->
				<% } %>
				
				
				
				
				
				
				
				
			</div> <!-- /span9 -->
